@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: black;
}

header {
    width: fit-content;
    margin: 35px auto;
}

header a img {
    width: 320px;
}

button {
    width: 205px;
    height: 70px;
    margin: 6px 11px;
    color: white;
    background-color: black;
    transition-duration: 0.3s;
}

.fmbutton {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
}

.cbbutton {
    font-family: "Comic Sans MS", "Varela Round", sans-serif;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    border: 2px solid white;
}

#row1, #row2, #row3, #row4, #row5, #row6, #row7 {
    width: fit-content;
    margin: 0 auto;
}
#coolboy {
    width: fit-content;
    margin: 60px auto -5px;
}

#coolboylogo {
    font-family: "Comic Sans MS", "Varela Round", sans-serif;
    font-size: 2.45em;
    font-weight: normal;
    color: white;
}

.pink {
    border: 2px solid deeppink;
}
.pink:hover {
    background-color: deeppink;
}

.cyan {
    border: 2px solid deepskyblue;
}
.cyan:hover {
    background-color: rgb(7, 178, 235);
}

.red {
    border: 2px solid red;
}
.red:hover {
    background-color: red;
}

.blue {
    border: 2px solid blue;
}
.blue:hover {
    background-color: blue;
}

.orange {
    border: 2px solid darkorange;
}
.orange:hover {
    background-color: darkorange;
}

.green {
    border: 2px solid lime;
}
.green:hover {
    background-color: lime;
}

.purple {
    border: 2px solid darkorchid;
}
.purple:hover {
    background-color: darkorchid;
}

.yellow {
    border: 2px solid yellow;
}
.yellow:hover {
    background-color: rgb(208, 211, 10);
}

footer {
    width: fit-content;
    margin: 100px auto 50px;
}

footer a img {
    width: 120px;
}

#qlink {
    font-family: monospace;
    text-align: center;
    color: slategray;
    text-decoration: none;
}

#xoetrope a {
    width: fit-content;
    margin: 70px auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

#xoetrope img {
    height: 90px;
}

#xoetrope h1 {
    color: white;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    font-weight: 500;
    line-height: 105%;
}

#about, #mission {
    width: fit-content;
    margin: 30px auto 0px;
}

#about h1, #mission h1 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.2em;
    text-align: center;
}

#about p {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.8;
    width: 640px;
}

#motto {
    font-style: italic;
    letter-spacing: 1.6px;
}

#mission p {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    text-align: justify;
    line-height: 1.8;
    width: 640px;
}

@media screen and (max-width: 900px) {
    header {
        width: fit-content;
        margin: 35px auto;
    }
    
    header a img {
        width: 200px;
    }

    button {
        width: 100%;
        height: 60px;
        margin: 6px auto;
    }

    .fmbutton {
        font-size: 1.6em;
    }

    .cbbutton {
        font-family: "Comic Sans MS", "Varela Round", sans-serif;
        font-size: 1.4em;
    }

    #coolboylogo {
        font-size: 3em;
    }

    #row1, #row2, #row3, #row4, #row5, #row6, #row7 {
        width: 100%;
        margin: 0 auto;
    }

    footer {
        width: fit-content;
        margin: 50px auto 30px;
    }

    footer a img {
        width: 80px;
    }

    #xoetrope img {
        height: 60px;
    }

    #xoetrope h1 {
        font-size: 1.4em;
        line-height: 95%;
    }

    #about h1, #mission h1 {
        font-size: 2.0em;
    }

    #about p, #mission p {
        font-size: 1em;
        width: 90%;
    }
}